{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block body %}
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr class="align-self-lg-center">
                            <!--<img class="card-img-top mb-2" style="width: 75%" src="{{ object.image | mediapath }}"/>-->
                            <img class="card-img-top mb-2" style="width: 75%" src="{%  mediafile object.image %}"/>
                        </tr>
                        <tr>
                            <td class="w-25">Название</td>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Описание</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">ID товара</td>
                            <td>{{ object.id }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Категория</td>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Цена</td>
                            <td>{{ object.price }}</td>
                        </tr>
                         <tr>
                            <td class="w-25">Создан</td>
                            <td>{{ object.created_at }}</td>
                        </tr>
                         <tr>
                            <td class="w-25">Обновлен</td>
                            <td>{{ object.updated_at }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}